source_art/wisp.blend filter=lfs diff=lfs merge=lfs -text
source_art/*.psd filter=lfs diff=lfs merge=lfs -text
source_art/*.blend filter=lfs diff=lfs merge=lfs -text
source_art/*.aseprite filter=lfs diff=lfs merge=lfs -text
